@keyframes ldio-lz3n57tppmn {
    0% { transform: rotate(0) }
    100% { transform: rotate(360deg) }
}
.ldio-lz3n57tppmn div { box-sizing: border-box!important }
.ldio-lz3n57tppmn > div {
    position: absolute;
    width: 69px;
    height: 69px;
    top: 15.5px;
    left: 15.5px;
    border-radius: 50%;
    border: 5px solid #000;
    border-color: #66ccff transparent #66ccff transparent;
    animation: ldio-lz3n57tppmn 1.923076923076923s linear infinite;
}

.ldio-lz3n57tppmn > div:nth-child(2), .ldio-lz3n57tppmn > div:nth-child(4) {
    width: 57px;
    height: 57px;
    top: 21.5px;
    left: 21.5px;
    animation: ldio-lz3n57tppmn 1.923076923076923s linear infinite reverse;
}
.ldio-lz3n57tppmn > div:nth-child(2) {
    border-color: transparent #66d888 transparent #66d888
}
.ldio-lz3n57tppmn > div:nth-child(3) { border-color: transparent }
.ldio-lz3n57tppmn > div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}
.ldio-lz3n57tppmn > div:nth-child(3) div:before, .ldio-lz3n57tppmn > div:nth-child(3) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    top: -5px;
    left: 27px;
    background: #66ccff;
    border-radius: 50%;
    box-shadow: 0 64px 0 0 #66ccff;
}
.ldio-lz3n57tppmn > div:nth-child(3) div:after {
    left: -5px;
    top: 27px;
    box-shadow: 64px 0 0 0 #66ccff;
}

.ldio-lz3n57tppmn > div:nth-child(4) { border-color: transparent; }
.ldio-lz3n57tppmn > div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}
.ldio-lz3n57tppmn > div:nth-child(4) div:before, .ldio-lz3n57tppmn > div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    top: -5px;
    left: 21px;
    background: #66d888;
    border-radius: 50%;
    box-shadow: 0 52px 0 0 #66d888;
}
.ldio-lz3n57tppmn > div:nth-child(4) div:after {
    left: -5px;
    top: 21px;
    box-shadow: 52px 0 0 0 #66d888;
}
.loadingio-spinner-double-ring-uxx90bx4m07 {
    width: 84px;
    height: 84px;
    display: inline-block;
    overflow: hidden;
    background: none;
}
.ldio-lz3n57tppmn {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.84);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-lz3n57tppmn div { box-sizing: content-box; }